{% extends "bank/base.html" %}

{% block content %}
<div class="content-section" style="background-color: rgb(241, 232, 232);">
   <div style="font-family: 'Noto Serif JP', serif; font-weight: 700; margin-top: 30px;margin-bottom: 30px; text-align: center;">
    <b style="font-size: 20px;">About Page</b><br><br>
    <b style="font-size: 18px;">A simple web responsive bank application where the listed user can transfer money to any of the listed customers' acoount seamlessly and can also view 
    the transaction history to check if the transaction is recorded.
    </b>
 </div>
</div><br>
{% endblock content %}